<form [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate autocomplete="off">
  <div class="container">
    <h1>Event Trigger / Supply Chain Example</h1>

    <div class="transfer-container">
      <mat-form-field>
        <input matInput placeholder="Cost in Ether" name="cost" formControlName="cost" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Item Identifier" name="itemName" formControlName="itemName" required>
      </mat-form-field>
      <div style="width: 100px">
        <button type="submit" mat-raised-button color="primary">Create Item</button>
      </div>
    </div>
  </div>
</form>
